body {
  background-color: #e3d7c9;
  color: #ffffff;
  min-height: 100vh;
}

h1 {
  color: #56001b;
  font-family: "Chicle", cursive;
  text-align: center;
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
  text-shadow: 0px 0px 5px rgb(233, 173, 87), 0px 0px 7px rgb(230, 143, 59),
    0px 0px 9px rgb(226, 93, 44), 0px 0px 11px rgb(131, 65, 23);
}

h2,
h3 {
  color: #ffffff;
}

.container {
  padding: 40px;
}

.title {
  color: #56001b;
  font-family: "Chicle", cursive;
  font-size: 5rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  gap: 30px;
}

.gallery .card {
  transition: 0.1s linear;
  box-shadow: rgb(233, 173, 87) 0px 0px 0px 3px,
    rgb(230, 143, 59) 0px 0px 0px 6px, rgb(226, 93, 44) 0px 0px 0px 9px,
    rgb(131, 65, 23) 0px 0px 0px 12px;
}

.gallery .card:hover {
  transform: scale(1.1);
  z-index: 10;
}

p {
  font-size: 25px;
  color: #7f7536;
}

.detail__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 550px;
  background-color: #ffffff;
  overflow: visible;
  padding: 25px;
}

.detail__img::after {
  content: "";
  background-image: linear-gradient(transparent 60%, #a6a6a6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  z-index: 5;
  box-shadow: rgb(233, 173, 87)
      0px 0px 0px 3px,
    rgb(230, 143, 59) 0px 0px 0px 6px, rgb(226, 93, 44) 0px 0px 0px 9px,
    rgb(131, 65, 23) 0px 0px 0px 12px;
}

img {
  width: 100%;
  height: 500px;
  object-fit: contain;
  object-position: top;
}

.detail__name {
  position: absolute;
  z-index: 5;
  top: 400px;
}

.detail__container {
  margin-top: 500px;
}

div.detail_about {
  padding: 25px;
}

.button.is-success {
  background-color: #7f7536;
}

.button.is-dark {
  background-color: #533010;
}

.button.is-dark.beer{
  margin-top: 20px;
}

.button.is-dark:hover {
  background-color: #268896;
}

.button.is-success:hover {
  background-color: #cbad3d;
}

.navbar-item {
  font-family: "Kavoon", cursive;
  font-size: 1.3rem;
}

.navbar.is-dark {
  background-color: #ffffff00;
}

.navbar {
  background-color: transparent;
}

.navbar-item img {
  max-width: 50rem;
  max-height: 54rem;
  object-position: center;
}

.navbar-item {
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 65px;
}
.navbar-item.breweries {
  padding-right: 50px;
  padding-left: 50px;
}

.card-header-title {
  color: #7d7135;
  font-family: "Kavoon", cursive;
}

.title.is-4 {
  padding-top: 25px;
  font-size: 30px;
}

span{
  color:#56001b;
  font-family:'Kavoon', cursive;
}