{% extends 'base.html' %} 
{% block content %}

    <h1>About the Hoperator</h1>

    <p><em>♪Queue the Funky tunes♫</em></p>
    <br>
    <p>"Smooth Hoperator" is the brain-child of a <em>mujer</em> who likes to drink, but also enjoys the art of craft beer.</p>
    <p>One day when she could no longer fulfill the idea of her original app idea, she thought to herself.....'I could use a beer'. As she took a refreshing sip and the delectable hoppy liquid immersed her into a state of relaxtion....an idea was born!</p>
    <br>
    <p>She wanted to save this new bodacios beer and have a record kept of all the beers she would one day consume. Other than keep it in her notes to be forever lost in the <em>nonsense</em> notes she kept</p>
    <br>
    <p>'Smooth Hoperator' was born and became an idea worth sharing to other bodacios beer drinkers. She added in a few additional features to better appease the 'brew' drinkers and what we have today is the idea in its emerging form. </p>
    <br>
    <p>Quench your thirst!</p>

{% endblock %}
 