{% extends 'base.html' %} {% block content %}
<div class="detail__img">
  <img src="{{beer.img}}" alt="{{beer.name}}" />
</div>
<div class="detail__name">
  {% if beer.currently_being_poured %}
  <div class="icon-text">
    <span class="icon has-text-info">
        <img src="https://img.icons8.com/external-justicon-lineal-color-justicon/80/000000/external-beer-st-patricks-day-justicon-lineal-color-justicon.png"/>
    </span>
    <span> On tap </span>
  </div>
  {% endif %}
  <h1 class="title">{{beer.name}}</h1>
</div>
<div class="detail__container">
  <div class="detail__about">
    <h4 class="title is-4">Description</h4>
    <p>{{ beer.description }}</p>
  </div>
</div>

{% endblock %}