{% extends 'base.html' %} {% block content %}

<a href="{% url 'beer_list' %}">Back to Brews</a>
<div class="detail__img">

  <img src="{{beer.img}}" alt="{{beer.name}}" />
</div>

<div class="detail__container">
  
    
    <div><h1 class="title">{{beer.name}}</h1></div>
    <a class="backpage" href="{% url 'beer_list' %}">Back to Brews</a>
  <div class="detail__about">
    <h4 class="title is-4">Description</h4>
    <p>{{ beer.description }}</p>
  </div>
</div>

<div class="buttons">
  <a href="{% url 'beer_update' beer.pk %}" class="button is-dark beer">
      <i class="">Update On Tap</i>
  </a>
  </div>
<div class="detail__name">
  {% if beer.currently_being_poured %}
  <div class="icon-text">
    <span class="icon has-text-info">
        <i class="fa-solid fa-beer-mug-empty"></i>
    </span>
    <span>On tap</span>
  </div>
  {% endif %}
  
</div>



{% endblock %}