{% extends 'base.html' %} {% comment %} for head title tags and helping us with
SEO {% endcomment %} {% block title %}Breweries{% endblock %} {% block content %}

<h1 class="title pt-5">{{ header }}</h1>
<form class="mb-5" action="{% url 'search_results' %}">
  <!-- <div class="field has-addons">
    <div class="control"> -->
      <!-- input will search by name (SearchBar)  -->
      <input class="input" type="search" name="search" placeholder="Search for Brewery" />
    <!-- </div>
    <div class="control"> -->
      <input class="button is-success" type="submit" value="Search" />
  
  <!--  redirect back to list  -->
  <a class="button is-dark" href="{% url 'breweries' %}">Clear Search</a>
</form>

<div class="gallery">
  {% for brewery in breweries %}
  <a href="{% url 'brewery_details' brewery.id %}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="https://www.beveragedaily.com/var/wrbm_gb_food_pharma/storage/images/_aliases/wrbm_large/publications/food-beverage-nutrition/beveragedaily.com/news/markets/ab-inbev-acquires-platform-beer-co/10027187-1-eng-GB/AB-InBev-acquires-Platform-Beer-Co.jpg" alt="{{brewery.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{brewery.name}}</p>
      </div>
    </div>
  </a>
  {% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Brewers Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}